// Sass file that assigns:

// Text color #3D3D3D to elements inside body tags
// Text color #FF0000 to any elements of class .red that are the first children of the body
// You must use nested declarations

$color: #3D3D3D;
$color_class: #FF0000;

body {
    color: $color;
    > .red {
        color: $color_class;
    }
}
